/* google font */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700;800&display=swap");

/* custom properties */
:root {
  --purple-900: #2a2c40;
  --purple-800: #3e3e57;
  --purple-700: #44445d;
  --white: #fff;
}

/* general style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: var(--purple-900);
  color: var(--white);
  /* to make .navigation-menu full height */
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* header */
.header {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid var(--purple-700);
  display: flex;
  justify-content: center;
}

.header .menu-button {
  /* no space around the icon */
  display: flex;
}

.header .menu-button.hide {
  display: none;
}

.header .close-button {
  display: none;
}

.header .close-button.show {
  /* no space around the icon */
  display: flex;
}

.header .menu-button,
.header .close-button {
  position: absolute;
  left: 0;
  /* vertical center */
  top: 50%;
  transform: translateY(-50%);
  /* to add space around */
  padding-inline: 20px;
}

.header .logo-link {
  font-weight: 800;
  font-size: 20px;
  color: var(--white);
}

/* navigation menu */
.navigation-menu {
  /* full height */
  flex-grow: 1;
  /* background-color: #a88787; */
  background-color: var(--purple-900);
  padding-block: 24px;
  position: relative;
  /* hide navigation menu */
  left: -100%;
}

.navigation-menu.show {
  left: 0;
}

.navigation-menu .nav-item {
  margin-top: 18px;
}

.navigation-menu .nav-item:first-child {
  margin-top: 0;
}

.navigation-menu .nav-link {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  /* full width */
  width: 100%;
  /* align text & arrow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
}

/* dropdown */
.dropdown-container {
  background-color: var(--purple-800);
  margin-top: 14px;
  padding: 24px;
  /* display: none; */
}

.dropdown-list .dropdown-item {
  margin-top: 16px;
}

.dropdown-list .dropdown-item:first-child {
  margin-top: 0;
}

.dropdown-list .dropdown-link {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}
