/* google font */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700;800&display=swap");

/* custom properties */
:root {
  --purple-900: #2a2c40;
  --purple-800: #3e3e57;
  --purple-700: #44445d;
  --white: #fff;
}

/* general style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: var(--purple-900);
  color: var(--white);
  /* to make .navigation-menu full height */
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* container to restrict width */
.max-width-container {
  max-width: 1440px;
  margin-inline: auto;
}

/* full header with border */
.header {
  padding: 20px;
  border-bottom: 1px solid var(--purple-700);
}

.header-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-content .menu-button {
  /* no space around the icon */
  display: flex;
}

.header-content .menu-button.hide {
  display: none;
}

.header-content .close-button {
  display: none;
}

.header-content .close-button.show {
  /* no space around the icon */
  display: flex;
}

.header-content .menu-button,
.header-content .close-button {
  position: absolute;
  left: 0;
  /* vertical center */
  top: 50%;
  transform: translateY(-50%);
}

.header-content .logo-link {
  font-weight: 800;
  font-size: 20px;
  color: var(--white);
}

.header-content .nav-list {
  /* hide nav links in screens < 768px */
  display: none;
}

/* navigation menu */
.navigation-menu {
  /* full height */
  flex-grow: 1;
  background-color: var(--purple-900);
  padding-block: 24px;
  position: relative;
  /* hide navigation menu */
  left: -100%;
}

.navigation-menu.show {
  left: 0;
}

.navigation-menu .nav-item {
  margin-top: 18px;
}

.navigation-menu .nav-item:first-child {
  margin-top: 0;
}

.navigation-menu .nav-link {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  /* full width */
  width: 100%;
  /* align text & arrow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
}

.navigation-menu .dropdown-arrow.flipped,
.header-content .nav-list .mega-dropdown-arrow.flipped {
  transform: rotate(180deg);
}

.navigation-menu .mega-dropdown {
  display: none;
}

/* dropdown */
.dropdown-container {
  background-color: var(--purple-800);
  margin-top: 14px;
  padding: 24px;
  display: none;
}

.dropdown-container.show {
  display: block;
}

.dropdown-list .dropdown-item {
  margin-top: 16px;
}

.dropdown-list .dropdown-item:first-child {
  margin-top: 0;
}

.dropdown-list .dropdown-link {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}

/* thumbnails */
.thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 24px 40px 24px 0;
}

.thumbnails-container .thumbnail-link {
  width: 160px;
  height: 200px;
  display: inline-block;
  position: relative;
}

.thumbnail-link .thumbnail-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-link .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  /* move text down */
  display: flex;
  align-items: flex-end;
  padding: 8px 12px;
}

.thumbnail-link .thumbnail-header {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
}

/* hotels */
.hotels-container {
  padding: 24px 0 24px 40px;
}

.hotels-container .hotels-header {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}

.hotels-container .hotels-list {
  margin-top: 16px;
}

.hotel-item {
  margin-top: 12px;
}

.hotel-item .hotel-link {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--purple-700);
  border-radius: 8px;
  padding: 14px 16px;
}

.hotel-item .hotel-link:hover {
  background-color: var(--purple-800);
}

.hotel-item .hotel-img {
  width: 100px;
  height: 66px;
  border-radius: 6px;
  object-fit: cover;
}

.hotel-item .hotel-name {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
}

.hotel-item .hotel-description {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}

/* media queries */
@media (min-width: 768px) {
  /* header */
  .header-content {
    justify-content: flex-start;
    align-items: center;
    gap: 38px;
  }

  .header-content .menu-button {
    display: none;
  }

  .header-content .nav-list {
    display: flex;
    gap: 24px;
  }

  .header-content .nav-link {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    /* align text & arrow */
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* navigation menu */
  .navigation-menu {
    /* prevent full height */
    flex-grow: 0;
    padding-block: 0;
    border-bottom: 1px solid var(--purple-700);
    padding-inline: 20px;
  }

  .navigation-menu .nav-list {
    display: none;
  }

  .navigation-menu .mega-dropdown {
    /* to create two-columns layout */
    display: flex;
  }

  .mega-dropdown .width-50 {
    width: 50%;
  }

  .mega-dropdown .right-column {
    border-left: 1px solid var(--purple-700);
  }

  .mega-dropdown .lists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 24px 40px 24px 0;
  }

  .list .list-header {
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px;
  }

  .list .list-item {
    margin-top: 5px;
  }

  .list .list-link {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
}
